nav {
  height: 75px;
  background-color: lightblue;
  padding: 20px 60px;
}

nav > img {
  border-radius: 150px;
  margin-left: 20px;
  height: 100px;
  box-shadow: 0 0 12px;
  transition: transform .25s;
}

nav > img:hover {
  transform: rotate(20deg) scale(1.05, 1.05);

}

nav > ul {
  display: inline-block;
  position: relative;
  top: -75px;
}

nav > ul li {
  display: inline-block;
}

nav > ul li > a::after {
  content: ' | ';
}

/* ---- END NAV / START MAIN ---- */

body {
  background-image: url('../images/outerspace_landscape.jpeg');
  background-size: cover;
}

.green-box {
  border: 10px green dotted;
  height: 300px;
  width: 600px;
  margin: 150px auto;
}

.space-cat {
  height: 200px;
  width: 200px;
  position: relative;
  top: -100px;
  left: -100px;
}

.space-dog {
  height: 200px;
  width: 200px;
  position: relative;
  top: 150px;
  left: 300px;
}
